#!/usr/bin/env bash

if [ "$(uname)" = Darwin ]; then
    alias ls='gls --color=auto'
elif [ "$OSTYPE" = linux-gnu ]; then
    alias ls='ls --color=auto'
fi

alias ll='ls -Flh --group-directories-first'
alias la='ls -Flha --group-directories-first'
alias l='ls -CF1 --group-directories-first'

alias ..='cd ..'
alias ...='cd ../..'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias sb='source ~/.bashrc'
alias vimbash='vim ~/.bashrc'
alias sz='source ~/.zshrc'
alias vimzsh='vim ~/.zshrc'

alias smi='nvidia-smi -l 1'
alias ta='tmux attach'
alias restart_bluetooth='sudo modprobe -r btusb && sudo service bluetooth restart && sudo modprobe btusb'
