# This is Git's per-user configuration file.
[user]
	name = keishi.ishihara
	email = keishi.ishihara@accenture.com
[core]
	editor = vim
[alias]
	s = status
	ss = status -s
	sh = show
	a = add
	co = commit
	c = commit
	d = diff
	tree = log --graph --pretty=format:\"%x09%C(auto) %h %Cgreen %ar %Creset%x09by\\\"%C(cyan ul)%an%Creset\\\" %x09%C(auto)%s %d\"
[color]
	ui = auto
[help]
	autocorrect = 1

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
